@use "@/scss/variables" as *;

.contact-section {
    width: 100%;
    padding: 2rem 0;
    height: fit-content;
    background-image: url(/dot-4.svg);
    display: flex;

    justify-content: center;

    .left {
        width: 50%;
    }

    .right {
        width: 50%;
    }
}