@use "@/scss/variables" as *;

.cardContainer {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: rem(80);
    width: 100%;

    @include breakpoint(mobile) {
        top: rem(90);

    }

    .card {
        background-color: $body-bg;
        border: 1px solid $border;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 500px;
        width: 100%;
        border-radius: 25px;
        padding: 50px;
        transform-origin: top;

        &_header {
            width: 100%;
            border-bottom: 1px solid $border ;
            display: flex;
            justify-content: space-between;
            padding: rem(20) 0;

            @include breakpoint(tablet) {
                align-items: center;
                gap: 20px;

            }

            @include breakpoint(mobile) {
                align-items: center;
                gap: 20px;

            }

            div {
                font-size: 5rem;

                @include breakpoint(mobile) {
                    font-size: 1.4rem;

                }

                @include breakpoint(tablet) {
                    font-size: 2rem;

                }


            }

            .emt {
                width: 5rem;
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;

                .btn-icon {
                    width: 2rem;
                    height: 2rem;
                }
            }

        }

        &_body {
            display: flex;
            padding: 1rem 2rem;
            align-items: center;
            height: 100%;

            // justify-content: space-between;
            @include breakpoint(tablet) {
                // flex-direction: column;
                padding: 1rem 0;

            }

            .content {
                width: 50%;
                text-overflow: ellipsis;
                @include breakpoint(mobile) {
                    width: 100%;
                    height: 50%;
                    font-size: 1rem;
                    // white-space: nowrap;
                        overflow: hidden;
                    //     text-overflow: ellipsis;
                }

            }

            .image_content {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                @include breakpoint(mobile) {
                    display: none;
                }

                @include breakpoint(tablet) {
                    width: 50%;
                    height: initial;

                }

                img {
                    height: 100px;






                }

            }
        }

    }
}