@use "@/scss/variables" as *;

.skill-cont {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;

    .right {

        @include breakpoint(tablet) {
            width: 100%;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // height: 100vh;
        width: 50%;
        // background-color: $purple;

        // height: 100%;
        .image-cont {
            @include breakpoint(mobile) {
                top: rem(55) !important;
            }

            display: flex;
            flex-direction: column;

            position: sticky;

            height: calc(100vh - rem(88));

            transform-origin: top;
            width: 100%;
            border-left: 1px solid $border ;
            border-right: 1px solid $border;
            border-bottom: 1px solid $border;



            background-color: $body-bg;

            .image-header {
                border-top: 1px solid $border ;
                border-bottom: 1px solid $border;
                padding: 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .image-body {
                background-image: url(/dot-4.svg);
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .info {
                    padding: 20px;
                    width: 100%;
                    display: none;

                    @include breakpoint(mobile) {
                        font-size: 1rem;
                    }

                    @include breakpoint(tablet) {
                        display: initial;
                    }

                    // height: 100%;
                }

                svg {
                    width: 500px;
                    height: 500px;
                }

            }

        }

    }

    .left {
        @include breakpoint(tablet) {
            display: none;
        }

        height: 100%;
        width: 50%;
        border-left: 1px solid $border;


        .info-body {
            height: calc(100vh - rem(88));

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 2rem;

            &:last-child {

                border-bottom: 1px solid $border;
            }

            border-top: 1px solid $border;

            .info-heading {
                letter-spacing: .01em;
                font-size: 5.2rem;
                line-height: 1.2em;

                @include breakpoint(laptop) {
                    font-size: 2.2rem;

                }
            }

            .info-dec {
                font-size: 2.2rem;
                line-height: 1.3em;

                @include breakpoint(laptop) {
                    font-size: 1.4rem;

                }
            }

            // height: 100vh;
        }
    }

}