@use "@/scss/variables" as *;

.skill-section {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;

    .right {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 166.66vw;
        height: 100vh;
    }
}