@use "@/scss/variables" as *;

.btn {
    border: none;
    outline: none;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: $secondary-black-900;
    color: $body-bg;
    border-radius: 200rem;
    position: relative;
    overflow: hidden;
    z-index: 1;

    .text {
        position: relative;
        z-index: 1;
    }

}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: $purple;
    transform: scale(0);
    pointer-events: none;
    z-index: 0;
}