@use "@/scss/variables" as *;

.btn {
    padding: 1rem 2rem;

    @include breakpoint(mobile) {
        padding: .5rem 1rem;

    }

    &.emt {
        padding: 1rem;
    }

    color: $white-80;
    background: $secondary-black-900;
    border-radius: 200rem;
    transition: color .4s,
    background-color .4s;
    position: relative;
    overflow: hidden;
    outline: none;
    border: none;
    z-index: 10;




    .ripple {
        position: absolute;
        border-radius: 50%;
        background: $purple;
        transform: scale(0);
        pointer-events: none;
        z-index: 0;
    }

    font-size: 0.8rem;
    display: flex;
    align-items: center;

    .btn-child {
        position: relative;
        z-index: 500;
        display: flex;
        align-items: center;
        line-height: 1.3em;
        flex-direction: row;
        gap: .5rem;

        .btn-icon {
            transform: rotate(135deg);
            height: 0.8rem;
            width: 0.8rem;
        }
    }
}