@use "@/scss/variables" as *;

.box {
    position: fixed;

    width: rem(90);
    height: rem(90);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    gap: rem(5);
    border-right: rem(1) solid $border;
    border-bottom: rem(1) solid $border;

    span {
        width: rem(50);
        height: rem(5);
        background-color: $secondary-black-900;
        border-radius: 10px;
    }
}