@use "@/scss/variables" as *;

.text-div {
    height: 50%;
    width: 100%;
    display: flex;
    font-size: rem(90);

    @include breakpoint(mobile) {
        height: 25% !important;
        font-size: rem(15) !important;
        gap: 2px 0 !important;
        margin: 2.5rem 0;
    }

    @include breakpoint(tablet) {
        height: 75%;
        font-size: rem(50);
        gap: 10px 0;
    }

    @include breakpoint(laptop) {
        height: 75%;
        font-size: rem(50);
        gap: 0 0;
    }

    // line-height: 1;
    margin: 20px 0;
    // padding: 40px;
    // max-width: 1280px;
    color: $secondary-black-900;
    flex-wrap: wrap;

    .word {
        position: relative;
        margin-right: 12px;
        height: fit-content;
        // margin-top: 12px;

        .shadow {
            position: absolute;
            opacity: 20%;
            color: rgb(193, 193, 193);
        }
    }
}