@use "@/scss/variables" as *;

.header {
    height: rem(88);
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;

    .menu-button {
        width: rem(88);
        height: rem(88);
        border-right: 1px solid $border;
        border-bottom: 1px solid $border ;

        @include breakpoint(mobile) {
            height: rem(55);
            width: rem(55);
        }

        display: flex;
        align-items: center;
        justify-content: center;

        .toggle-button {
            width: 24px;
            height: 24px;
            cursor: pointer;


        }

        .menu {
            position: absolute;
            top: rem(88);
            left: rem(88);
            width: calc(99vw - rem(88));
            height: calc(100vh - rem(88));
            background-color: $secondary-black-900;
            border-radius: 20px;

            @include breakpoint(mobile) {
                left: 0;
                top: rem(55);
            }


        }
    }

    &--nav {
        height: 100%;
        border-bottom: 1px solid $border ;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100vw - rem(88));

        @include breakpoint(mobile) {
            width: calc(100vw - rem(55));
            padding: 0 1rem;
        }

        h1 {
            font-size: 1.6rem;
            color: $secondary-black-900;
            font-weight: 300;

            @include breakpoint(mobile) {
                font-size: 1rem;
            }
        }

        &--right {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 2rem;
        }
    }

    @include breakpoint(mobile) {
        height: rem(55);


    }
}