@use "@/scss/variables" as *;

.side-bar {
    position: fixed;
    z-index: 10;
    width: rem(88);
    height: 100vh;
    border-right: 1px solid $border ;

    @include breakpoint(mobile) {
        display: none;
    }
}