@use "./variables" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $body-bg;
    font-family: $NeueHaas;
    color: $dark;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}